.fp-center {text-align: center;}
.fp-padding h1,
.fp-padding p,
.fp-padding a {padding-top: 10px;padding-bottom: 10px;}

.fp-login form input {margin-top: 10px;margin-bottom:10px;}

main.fp-login {max-width: 400px;}